[submodule "public/js/ace"]
	path = public/js/ace
	url = https://github.com/ajaxorg/ace.git
[submodule "public/js/ace-builds"]
	path = public/js/ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
