@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  padding: 0;

}

/* background picture. Added to full screen with blue*/
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(4px);
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/dojo2.png");
  background-size: cover;
  background-position: center;
}

.content-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* create the stylign for the nav bar and placed at the top of the screen*/
/*.top-nav {
  background-color: rgb(0, 0, 0);
  color: #fff;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}*/

.top-nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-image: linear-gradient(to left, #000000, #303030, #000000);
  background-size: 200% 100%;
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.top-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.top-nav ul li {
  margin: 0 10px;
}

.top-nav ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s ease;
}



/* buttons for the nav bar */
.btn {
  background-color: #00000000;
  color: #ffffff;
  padding: 10px 5px;
  font-style: oblique;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.1s ease;
}

.btn:hover {
  background-color: #555555;
  color: #ffffff;
}


/* button to join the session ID */
button {
  background: #23a6d5;
  border: none; 
  color: #ffffff;
  cursor: pointer;
  font-family: 'Tilt Warp', cursive;
  font-size: 18px;
  font-weight: bold;
  padding: 13.874px ;
  position: relative;
  text-align: center; /* add text-align property and set to center */
  width: 100%; /* add width property and set to 100% */
  transition: all 0.3s ease;
}

button::before {
  background-color: #ffffff;
  border-radius: 30px;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease;
  width: 100%;
  z-index: -1;
}

button:hover {
  color: #1b7494;
}

button:hover::before {
  opacity: 0.2;
}

/* message box for the session ID */
.message-box {
  display: flex;
  align-items: center;
  margin: -8em auto 0;
  max-width: 400px;
  background-color: #ffffff00;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.message-box input[type="text"] {
  font-family: 'Tilt Warp', cursive;
  flex: 1;
  padding: 15px;
  border: none;
  font-size: 16px;
  width: 700%;
}

.message-box button[type="submit"] {
  background-color: #23a6d5;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 100.874px 200px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.message-box button[type="submit"]:hover {
  background-color: #187fa5;
}



