@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

html {
    font-family: 'Tilt Warp', cursive;
}

main {}

#hamburger {
    /* attributes for hamburger icon */
    fill: white;
    height: 45px;
    width: 45px;
    cursor: pointer;
}

#hamburger:active{
    /* makes button slightly smaller when being clicked */
    transform: scale(0.9);
}

#sidebar {
    width: 0px;
    height: 100vh;
    /* 100vh: height of screen */
    background-color: rgb(214, 214, 214);
    position: fixed;
    top: 0;
    left: 0;

    /* set z-index to 2, so it's on top of everything */
    z-index: 2;

    /* make sure text doesn't still show when sidebar is closed */
    overflow: hidden;
 
    transition: width .25s ease;
    white-space: nowrap;
}

.sidebar-item {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 1em;
    display: flex;
    position: center;
}

.sidebar-item:hover {
    background-color: #23a6d5;
}

#overlay {
    /* overlay is clicked to close sidebar
       also used to make background slightly
       darker when sidebar is open */
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}

.btn {
    /* sidebar button attributes */
    background-color: #21416800;
    color: black;
    padding: 0px 0px;
    font-family: 'Tilt Warp', cursive;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
    border: none;
    text-align: left;
  }

.question-set{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionbox{
    /* format the question textbox */
    font-family: 'Tilt Warp', cursive;
    font-size: medium;
    /* position: fixed;
    top: 25%;
    left: 50%; */
    /* scale the textbox based on window size */
    /* transform: translate(-50%, -50%); */
    width: 75%;
    height: 20%;
    min-height: 150px;
    max-width: 1440px;
    background-color:rgb(241, 241, 241);
    padding: 1em;
    border-radius: 20px;
    border: 2px solid transparent;
    padding-right: 40px;
    resize: none;
}

.answerbox{
    /* format the answer textbox */
    font-family: 'Tilt Warp', cursive;
    font-size: medium;
    /* position: fixed;
    top: 70%;
    left: 50%; */
    /* scale the textbox based on window size */
    /* transform: translate(-50%, -50%); */
    width: 75%;
    height: 35%;
    max-width: 1440px;
    background-color:rgb(241, 241, 241);
    padding: 1em;
    border-radius: 20px;
    border: 2px solid transparent;
    padding-right: 40px;
    resize: none;
}

#submit-answer-button{
    /* attributes for submit button */
    background: none;
    border: none;
    cursor: pointer;
    width: 65px;
    height: 65px;
    fill: white;
    position: absolute;
    bottom: 1%;
    right: 10px;
}

#submit-answer-button:active svg{
    /* make slightly smaller on click */
    transform: scale(0.9);
}

#compile{
    /* attributes for compile button */
    cursor: pointer;
    width: 50px;
    height: 50px;
    fill: white;
    position: absolute;
    bottom: 1%;
    right: 75px;
}

#compile:active{
    /* make slightly smaller on click */
    transform: scale(0.9);
}

#makeNote{
    /* attributes for makeNote button */
    cursor: pointer;
    width: 40px;
    height: 40px;
    fill: white;
    position: absolute;
    top: 1%;
    right: 1%;
}

#makeNote:active{
    /* make slightly smaller on click */
    transform: scale(0.9);
}
  
  .timer-display {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1px;
    top: 1%;
    color:#ffffff;
  }
