@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body {
	margin: 0;
	padding: 0;
	/* font-family: 'Tilt Warp', 'Helvetica', 'Arial', sans-serif; */
	font-family: 'Tilt Warp', cursive;
	/* font-family: 'Tilt Neon', cursive; */

	background-color: rgb(55, 54, 54);
}

.white-text {
	color: #ffffff;
}

.home-btn {
	position: absolute;
	top: 1%;
	left: 1%;
}
.display-btn {
	position: absolute;
	top: 9%;
	left: 1%;
}
.download-scores-btn{
	position: absolute;
	top: 17%; 
	left: 1%;
}

.columns {
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}

.main-container {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    min-height: 100vh;
}

.light-grey-border {
    background-color: #68686872;
	justify-content: center;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    box-sizing: border-box;
}

/* Update the following CSS rules */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 100%;
    margin-top: 40px;
    margin-left: 0;
}


.buttons-container {
	margin-bottom: 30px;
}

.right-side {
	width: 50vw;
	left: 50%;
}

.form-input {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Add the following CSS rules */

.mcquestion-answer-checkbox {
    margin-right: 10px;
    cursor: pointer;
}

.mcquestion-answer-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mcquestion-answer-input:focus {
    border-color: #66afe9;
    box-shadow: 0 0 0 0.2rem rgba(102, 175, 233, 0.5);
}

.sesh-input {
    display: flex;
    width: 100%;
    height: 40px; /* Adjust this value as per your requirement */
    max-width: 200px;
    margin-bottom: 10px;
	border: none;
    border-radius: 5px; /* Adjust this value to control the roundness of the edges */
}

.text-input {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

label {
	font-size: 20px;
	margin-bottom: 10px;
	text-align: center;
}

/* input[type="text"] {
	width: 200%;

	border: none;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
} */


.submit-btn {
	/*background: linear-gradient(to left, #23a6d5, #1e87ae, #1e89a9, #16738a);
	border: none;*/
	background: linear-gradient(to left, #23a6d5, #1e87ae, #1e89a9, #16738a);
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-family: 'Tilt Warp';
	font-size: 18px;
	font-weight: bold;
	padding: 13.874px 20px;
	position: relative;
	transition: all 0.3s ease;
	border-radius: 5px;
}

.close-btn {
	background: linear-gradient(to left, #a50505, #ae5a1e, #ae5a1e, #a50505);
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-family: 'Tilt Warp';
	font-size: 18px;
	font-weight: bold;
	padding: 13.874px 20px;
	position: relative;
	transition: all 0.3s ease;
	border-radius: 5px;
}

.submit-btn:active{
	transform: scale(0.9);
}

.side-btn {
	background: linear-gradient(to left, #23a6d5, #1e87ae, #1e89a9, #16738a);
	border: none;
    /*background-color: #23a6d5;*/
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Tilt Warp';
    font-size: 18px;
    font-weight: bold;
    padding: 13.874px 20px;
    position: relative;
    transition: all 0.3s ease;
    border-radius: 5px;
    width: 100px; /* Add this line to set a fixed width */
}
.side-btn:active{
	transform: scale(0.9);
}

.submit-btn::before {
	background-color: #ffffff;
	border-radius: 30px;
	content: '';
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: all 0.3s ease;
	width: 100%;
	z-index: -1;
}

.submit-btn:hover {
	color: #1b7494;
}

.submit-btn:hover::before {
	opacity: 0.2;
}

.player-table {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
	/*font-family: 'Tilt Neon', cursive;*/
    width: 98%;
    margin-bottom: 20px;
    margin-top: 8%;
    border-collapse: collapse;
}

.table-header,
.table-data {
    background-color: #ffffff;
    color: #333333;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #e0e0e0;
}

.buttons-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.buttons-container button {
	display: inline-block;
	margin: 0 10px;
}

.red-btn {
	background-color: red;
}

.timer-display {
    border: 1px solid white;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1px;
    top: 1%;
    color: #ffffff;
    display: inline-block;
    width: auto; 
    padding: 5px 10px;
}


.timer-box {
    margin-top: 50px;
    position: relative;
}


.text-input {
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #04AA6D;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #04AA6D;
	cursor: pointer;
}



.white-text {
    color: rgb(255, 255, 255);
	/* font-family: Georgia, 'Times New Roman', Times, serif; */
	/* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive; */
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
	font-weight: bold;
}


/* Drop down for question type */

#question-type-input {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #515151;
    font-size: 14px;
    padding: 5px 10px;
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#question-type-input:focus {
    border-color: #66afe9;
    box-shadow: 0 0 0 0.2rem rgba(102, 175, 233, 0.5);
}

#question-type-input > option {
    padding: 5px 10px;
}


@media only screen and (max-width: 920px) {
	body {
	font-size: 16px;
	}.columns {
		flex-direction: column;
	}
	
	.main-container {
		width: 90%;
		padding: 10px;
	}
	
	.right-side {
		width: 100%;
		left: 0;
	}
	
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
	}
	
	.timer-display {
		font-size: 1.5em;
	}
	
	.text-input {
		width: 100%;
	}
	
	.mcquestion-answer-input {
		width: 90%;
	}
	
	.submit-btn {
		font-size: 16px;
		padding: 10px 15px;
	}
	
	.grid-item {
        /* font-family: sans-serif, cursive; */
		font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
		font-size: 14px;
		padding: 8px;
	}
}

#code-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    left: -1.6%;
}



.control-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
    gap: 16px; 
}

.languages, .themes {
    margin-left: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
}

.dropdown-wrapper {
    margin-left: -6px;
}



.editor {
    height: 400px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 16px;
}

.input-button-container {
    display: flex;
}

.sesh-input {
    display: flex;
    width: 100%;
    height: 40px; /* Adjust this value as per your requirement */
    max-width: 200px;
    margin-bottom: 10px;
    margin-right: -5px; /* Add this to remove the gap between input and button */
    border: none;
    border-radius: 5px 0 0 5px; /* The top-left and bottom-left corners are rounded, while the top-right and bottom-right corners are flat */
}

.time-input {
    display: flex;
    width: 100%;
    height: 35px; /* Adjust this value as per your requirement */
    max-width: 200px;
    margin-bottom: 10px;
    margin-right: -5px; /* Add this to remove the gap between input and button */
    border: none;
    border-radius: 6px 6px; /* Adjust this value to control the roundness of the edges */
}



.sesh-btn {
    /*background-color: #23a6d5;*/
	background: linear-gradient(to left, #23a6d5, #1e87ae, #1e89a9, #16738a);
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Tilt Warp';
    font-size: 18px;
    font-weight: bold;
    padding: 5px 15px;
    position: relative;
    transition: all 0.3s ease;
    border-radius: 0 5px 5px 0;
    height: 42.3px; /* Set the height to match the input height */
    line-height: 30px; /* Adjust line-height to vertically center the text */
    box-sizing: border-box; /* Add this to include padding and border within the height calculation */
}
.sesh-btn:hover {
	color: #1b7494;
}