@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body {
    font-family: 'Tilt Warp';
    background-color: rgb(55, 54, 54);
}

.modern-container {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 16px auto 0;
}

.white-text {
    color: white;
}

#player-list {
    color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

#player-list div {
    background: linear-gradient(to left, #23a6d5, #1e87ae, #1e89a9, #16738a);
    border-radius: 3px;
    padding: 20px;
    font-size: 16px;
    text-align: center;
}

#back_button {
    position: relative;
    top: 1%;
    left: 1%;
    fill: white;
}

#back_button:active {
    /* make slightly smaller on click */
    transform: scale(0.9);
}

.info-text {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1px;
    top: 1%;
    color: #ffffff;
}

.question-set {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-box {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

.border {
    border: 1px solid #ffffff;
    padding: 5px;
    display: flex;
    align-items: center;
}

.separator {
    border-left: 1px solid #ffffff;
    margin: 0 10px;
    height: 1.5em;
}
