@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body{
    font-family: 'Tilt Warp', cursive;
}

h1{
    position: absolute;
    text-align: center;
    margin-bottom: 70px;
}

table {
    width: 50%;
    margin: 0 auto;
    margin-top: 3%;
}

.user{
    text-align: center;
    font-weight: bold;
}
