@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body{
    font-family: 'Tilt Warp', cursive;
}

h1{
    position: absolute;
    text-align: center;
    margin-bottom: 70px;
}

table {
    position: fixed;
    display: inline-block;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

.user{
    text-align: center;
    font-weight: bold;
}
