#results-area h1,
#results-area h3 {
	color: #fff;
}

#results-area table {
	border-collapse: collapse;
	width: 100%;
}

#results-area th,
#results-area td {
	text-align: left;
	padding: 8px;
	border: 1px solid black;
}

#results-area th {
	background-color: #ddd;
}

#results-area .correct {
	background-color: green;
}

#results-area .incorrect {
	background-color: red;
}
