body {
	background-color: #F7F7F7;
}

h1 {
	color: #333333;
}

table {
	background-color: #FFFFFF;
}

th {
	background-color: #EEEEEE;
}

.chart-bar {
	background-color: #4CAF50;
	color: #FFFFFF;
}

.chart-bar.correct {
	background-color: #008000;
}
