
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

html {
    font-family: 'Tilt Warp', cursive;
}

body{
    background: #1c1c1c;
    color: #fff;
}

.about{
    width: 100%;
    background-color: #484343;
    text-align: center;
}

.about h1{
    font-size: 40px;
}

.about p{
    font-size: 20px;
}

.about-text{
    min-width: 550px;
    max-width: 750px;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.contact-button{
    /*background-color: #0061e1;*/
    background: linear-gradient(to left, #a50505, #ae5a1e, #d12010, #a50505);
	border: none;
	border-radius: 60px;
	position: absolute;
	transition: all 0.3s ease;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-family: 'Tilt Warp', cursive;
}

#hamburger {
    /* attributes for hamburger icon */
    fill: white;
    height: 45px;
    width: 45px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}

#hamburger:active{
    /* makes button slightly smaller when being clicked */
    transform: scale(0.9);
}


#sidebar {
    width: 0px;
    height: 100vh;
    /* 100vh: height of screen */
    background-color: rgb(214, 214, 214);
    position: fixed;
    top: 0;
    left: 0;

    /* set z-index to 2, so it's on top of everything */
    z-index: 2;

    /* make sure text doesn't still show when sidebar is closed */
    overflow: hidden;
 
    transition: width .25s ease;
    white-space: nowrap;
}

.sidebar-item {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 1em;
    display: flex;
    position: center;
}

.sidebar-item:hover {
    background-color: #23a6d5;
}

.btn {
    /* sidebar button attributes */
    background-color: #21416800;
    color: black;
    padding: 0px 0px;
    font-family: 'Tilt Warp', cursive;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
    border: none;
    text-align: left;
  }

  #overlay {
    /* overlay is clicked to close sidebar
       also used to make background slightly
       darker when sidebar is open */
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}